pow = (first_name: string, lastname: string): void => {
    print("Hello from callback\n")
}

displayname = (callback: fun<string, string, void>): void => {
  callback("Jakub", "Oczkowski")
}

displayname(pow)
